<p>
  Posts
</p>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" [(ngModel)]="post.title" name="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" [(ngModel)]="post.description" name="description">
  </mat-form-field>

  <button type="submit" mat-button>Create Post</button>
</form>


<button type="button" (click)="getAllPosts()" mat-button>Get All Posts</button>

<p>Response:</p>
<div [ngStyle]="{'color': status === 'FAILED' ? 'red' : 'black'}">
  <p> {{ status }}</p>
  <p> {{ msg | json }} </p>
</div>

<div>
  <h2>Lista de Posts</h2>
  <div *ngFor="let p of posts">
    <h3>{{p.title}} </h3>
    <p>{{p.description}}</p>
  </div>
</div>
